h1{
    font-family: 'Courier New', Courier, monospace;
}
.hide {
    display: none;
 }
 
 button {
   margin-right: 15px;
 }
 
ul {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }
  span{
    font-size: x-large;
  }
  #searchBar{
    margin-left: 5%;
    padding:15px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 10%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  input[type=text]:focus {
    width: 30%;
  }
